* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff92e7;
  font-family: 'Hachi Maru Pop', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.message {
  font-weight: bold;
  animation: fadeIn 0.8s ease-in;
  color: #fff;
  text-shadow: 0 0 2rem #f9ff00;
  font-size: 5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .message {
    font-size: 2rem;
  }
}


